@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-de-fundo: #1e1e1e;
  --cor-fundo-tempo: rgba(58, 55, 94, 0.5);
  --palavras-tempo: #9c56ff;
  --numeros: #4bff57;
  --cor-bordas: rgba(111, 107, 168, 0.2);

  --verde: #6fff57;
  --branco: #ffffff;
  --botao-ativo: rgba(58, 55, 94, 0.98);
  --botao-inativo: rgba(58, 55, 94, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
  --titulo-principal: #4bff57;
}

@media (max-width: 768px) {
  .numero{
    font-size: 50px;
  }
  
  .tempo{
    gap: 15px;
  }
}

body {
  background-image: url("imagem/alternativa.png");
  color: var(--numeros);
  font-family: "Chakra Petch", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  width: 100%;
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: var(--titulo-principal);
}

.titulo-principal span {
  color: var(--verde);
}

.botao {
  font-family: "Crakra Petch", sans-serif;
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--cor-bordas);
  border-left: 2px solid var(--cor-bordas);
  border-right: 2px solid var(--cor-bordas);
  border-top: none;
}

.escuro {
  background-color: var(--botao-ativo);
}

.botoes {
  display: flex;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.botoes .botao {
  border-radius: 0; /* remove arredondamento interno de cada botão */
  border-right: 1px solid var(--cor-bordas); /* separação visual entre botões */
}

.titulo-objetivo {
  text-align: center;
  width: 100%;
  font-size: 32px;
  color: var(--verde);
}

.tempo {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.numero {
  font-size: 100px;
}

.bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes-grade {
  display: flex;
  flex-direction: column; /* empilha botões e grade verticalmente */
  align-items: flex-start; /* alinhamento à esquerda para pegar largura exata */
}

.grade {
  background-color: var(--cor-fundo-tempo);
  padding: 40px 20px;
  border-radius: 0 0 40px 40px;
  width: 100%; /* vai ocupar exatamente a largura da div pai (.botoes-e-grade) */
}

.cor-palavras-tempo {
  color: var(--palavras-tempo);
}

.cor-palavras-botoes {
  color: var(--titulo-principal);
}

